<div class="container">
  <div class="box">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="title">Imobiliaria Nosso Lar</div>


      <!-- <div class="gmail">
        <a href="https://mail.google.com/"><i class="fab fa-gmail"></i>Entrar com Gmail</a>

      </div>
      <div class="facebook">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i>Entrar com Facebook</a>
      </div>

      <div class="line"></div> -->

      <p class="text">Entre com seu email</p>

      <div class="input-box underline">

        <input type="text" placeholder="Email" formControlName="username">
        <div class="underline"></div>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Senha" formControlName="password">
        <div class="underline"></div>
      </div>
      <div class="text"><a href="#">Esqueci minha senha</a></div>
      <div class="recaptcha2">
        <ngx-recaptcha2 #captchaElem
          [siteKey]="siteKey"
          formControlName="recaptcha">
        </ngx-recaptcha2>
      </div>

      <div class="input-box button">
        <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
      </div>

      <div class="text sign-up-text">Não tem uma conta?</div>
      <div class="text"><a routerLink="/auth/cadastro">Cadastre-se agora</a></div>


      <p class="text termos">Ao continuar, você esta de Acordo com os Termos de Uso e Ciente da Política de Privacidade.</p>
    </form>
  </div>
</div>