<div class="container">
    <div class="box">
      <form action="#">
        <div class="title">Blablabla Cadastro</div>

         <div class="gmail">
          <a href="https://mail.google.com/"><i class="fab fa-gmail"></i>Entrar com Gmail</a>
        </div>
        <div class="facebook">
          <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i>Entrar com Facebook</a>
        </div>
        <div class="line"></div> 
       <p class="text">Cadastre-se com seus Dados Pessoais</p>

        <div class="input-box underline">
          <input type="text" placeholder="Nome e Sobrenome" >
          <div class="underline"></div>
        </div>
       
          
        <div class="input-box underline">
          <input type="text" placeholder="Email" >
          <div class="underline"></div>
        </div>
       

        <div class="input-box">
          <input type="password" placeholder="Senha" >
          <div class="underline"></div>
        </div>
       
        
        <div class="input-box underline">
          <input type="tel" placeholder="Tel: (XX) XXXXX-XXXX">
          <div class="underline"></div>
        </div>

       <!--  <label for="telefone">Telefone</label> -->

        <div class="input-box button">
          <input type="submit" name="" value="Cadastrar">
        </div>

        <div class="text sign-up-text">Já possui uma conta? <label for="flip"><a routerLink="/auth/login">Entre aqui</a></label>
        </div>
       

<p class="text">Ao continuar, você esta de Acordo com os Termos de Uso e Ciente da Política de Privacidade.</p>