.create-account {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #012169;
  border: none;
  color: white;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
}
.form-group {
  margin: 5px;
}

.action {
  padding: 1em;
  margin: 1em;
  display: block;
    margin-left: auto;
    margin-right: auto

  }
.addUser{
  all: unset;
  cursor: pointer;

}
.spaceb{
  display: flex;
  justify-content: space-between;
}
.modal-header2{
  padding: 10px;
  text-align: center;
}
