<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

    <mat-toolbar>
      <a routerLink="/principal/pagina-inicial">
        <mat-icon class="material-icons"> admin_panel_settings </mat-icon>
      </a>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/admin/"><mat-icon class="material-icons">dashboard</mat-icon></a>
      <a mat-list-item routerLink="/admin/pendente"><mat-icon class="material-icons">pending</mat-icon></a>
      <a mat-list-item routerLink="/admin/actuator"><mat-icon class="material-icons">query_stats</mat-icon></a>
      <a mat-list-item routerLink="/admin/usuarios"><mat-icon class="material-icons">manage_accounts</mat-icon></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="color-nav">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ADMIN</span>
    </mat-toolbar>
    <ng-content ></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
