.content{
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}

img{
  height: 500px;
}

.botaoCarousel{
  margin-top: 75px;
  height: 500px;
}

.visita{
  margin-top: 15px;
  margin-bottom: 25px;
  position: relative;
  left: 10px;
}


.dadosImovel{
  position: relative;
  max-width: 770px;
  left: 300px;
}

.titulo{
  margin-top: 17px;
  font-size: 30px;
}

.imovel{
  display: flex;
  flex-direction: row;
}
