<app-navbar></app-navbar>

<!-- Carrocel -->
<div class="content">
  <div class="col-xs-12 col-lg-12">
    <div
      id="carouselImoveis"
      class="carousel slide"
      data-ride="carousel"
      data-interval=""
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-xs-3 col-lg-3">
              <img
                src="https://cdn.uso.com.br/39792/2021/12/4f659e71414411ceb3089f043b0aa035.jpg"
              />
            </div>
            <div class="col-xs-3 col-lg-3">
              <img
                src="https://espacoatualempreendimentos.com.br/imagem/62_9432b1f745aa802670ba08da1959b0ab.jpeg"
              />
            </div>
            <div class="col-xs-3 col-lg-3">
              <img
                src="https://cdn.uso.com.br/39792/2021/12/4f659e71414411ceb3089f043b0aa035.jpg"
              />
            </div>
            <div class="col-xs-3 col-lg-3">
              <img
                src="https://espacoatualempreendimentos.com.br/imagem/62_9432b1f745aa802670ba08da1959b0ab.jpeg"
              />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-xs-3 col-lg-3">
              <img
                src="https://espacoatualempreendimentos.com.br/imagem/62_9432b1f745aa802670ba08da1959b0ab.jpeg"
              />
            </div>
            <div class="col-xs-3 col-lg-3">
              <img
                src="https://espacoatualempreendimentos.com.br/imagem/62_9432b1f745aa802670ba08da1959b0ab.jpeg"
              />
            </div>
            <div class="col-xs-3 col-lg-3">
              <img
                src="https://espacoatualempreendimentos.com.br/imagem/62_9432b1f745aa802670ba08da1959b0ab.jpeg"
              />
            </div>
            <div class="col-xs-3 col-lg-3">
              <img
                src="https://espacoatualempreendimentos.com.br/imagem/62_9432b1f745aa802670ba08da1959b0ab.jpeg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button
    class="botaoCarousel carousel-control-prev"
    type="button"
    data-bs-target="#carouselImoveis"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </button>
  <button
    class="botaoCarousel carousel-control-next"
    type="button"
    data-bs-target="#carouselImoveis"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </button>
</div>

<div class="imovel">
  <div class="dadosImovel col-lg-6">
    <h1 class="titulo">Apartamento para alugar com 1 quarto, 24m²</h1>
    <p>Rua dos Estudantes, Liberdade, São Paulo</p>
    <mat-divider></mat-divider>
  </div>

  <div class="visita col-lg-6">
    <app-agendamento></app-agendamento>
  </div>
</div>

<app-footer></app-footer>
