<app-navi>
    <div class="container">
        <div class="col-sm-6 col-md-6 col-lg-12" style="margin-top: 50px">
            <div class="spaceb">
                <h5 class="pull-left">Visitas</h5>
                <button mat-icon-button class="addVisita"(click)="adicionarVisita()">
                    <mat-icon> add_circle </mat-icon>
                </button>
            </div>
            <table class="table table-hover text-center" id="httptrace-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Horário</th>
                        <th>Data</th>
                        <th>Status</th>
                        <th>Vendedor</th>
                        <th>Consumidor</th>
                        <th>View</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="
                let visita of visitas
                  | paginate
                    : {
                        id: 'trace-list',
                        itemsPerPage: pageSize,
                        currentPage: page,
                        totalItems: visitas?.length
                      }
              " style="cursor: pointer">
                        <td (click)="recuperarVisita(visita)">{{ visita.idVisita }}</td>
                        <td (click)="recuperarVisita(visita)">{{ visita.horarioVisita }}</td>
                        <td (click)="recuperarVisita(visita)">{{ visita.dataVisita }}</td>
                        <td (click)="recuperarVisita(visita)">{{ visita.statusVisita }}</td>
                        <td (click)="recuperarVisita(visita)">{{ visita.userVendedor!.nome! }}</td>
                        <td (click)="recuperarVisita(visita)">{{ visita.userConsumidor!.nome! }}</td>
                        <td (click)="recuperarVisita(visita)">
                            <button class="botsblue btn btn-outline-info">
                                <i class="botsblue fa fa-eye"></i>
                            </button>
                        </td>
                        <td>
                            <button (click)="deletarVisita(visita.idVisita!)" class="botsblue btn btn-outline-danger">
                                <i class="fa fa-exclamation-triangle"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls class="botsblue text-center" id="trace-list" (pageChange)="page = $event">
            </pagination-controls>
        </div>
    </div>
</app-navi>

<button hidden="true" type="button" id="trace-modal" class="btn btn-primary" data-toggle="modal"
    data-target="#trace-info-modal"></button>

<button hidden="true" type="button" id="action-modal" class="btn btn-primary" data-toggle="modal"
    data-target="#trace-action-modal"></button>

<button hidden="true" type="button" id="new-user-modal" class="btn btn-primary" data-toggle="modal"
    data-target="#trace-new-user-modal"></button>

<button hidden="true" type="button" id="promote-modal" class="btn btn-primary" data-toggle="modal"
    data-target="#trace-promote-modal"></button>
<!-- Trace Information Modal -->
<!-- 
<div class="modal fade" id="trace-info-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dados Usuário</h5>
                <button id="close-modal" mat-button class="close-icon" data-dismiss="modal">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="modal-body right-left-margin">
                <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#usuarios">
                            <i class="fa fa-user"></i> Informações</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#endereco">
                            <i class="fa fa-map-marker"></i> Endereço</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active registration-form" id="usuarios" *ngIf="user">
                        <form [formGroup]="formUsuario" (ngSubmit)="saveUsuario()">
                            <div class="form-icon">
                                <span><i class="icon icon-user"></i></span>
                            </div>
                            <div class="form-group">
                                <mat-label> Nome:</mat-label>
                                <input type="text" class="form-control item" id="nome" placeholder="Nome"
                                    formControlName="nome" />
                            </div>
                            <div class="form-group">
                                <mat-label> Email:</mat-label>
                                <input type="text" class="form-control item" id="email" placeholder="Email"
                                    formControlName="email" readonly />
                            </div>
                            <div class="form-group">
                                <mat-label> Identificação:</mat-label>
                                <input type="text" class="form-control item" id="identificacao"
                                    placeholder="Identificação" formControlName="identificacao" />
                            </div>
                            <div class="form-group">
                                <mat-label> Celular:</mat-label>
                                <input type="text" class="form-control item" id="celular" placeholder="Celular"
                                    formControlName="celular" />
                            </div>
                            <div class="form-group">
                                <mat-label> Telefone:</mat-label>
                                <input type="text" class="form-control item" id="telefone" placeholder="Telefone"
                                    formControlName="telefone" />
                            </div>
                            <div class="form-group">
                                <button *ngIf="loading == false" class="btn btn-block create-account" type="submit">
                                    Salvar atualizações
                                </button>
                                <mat-spinner *ngIf="loading == true"></mat-spinner>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="endereco">
                        <form [formGroup]="formEndereco" (ngSubmit)="saveEndereco()">
                            <div class="form-icon">
                                <span><i class="icon icon-user"></i></span>
                            </div>
                            <div class="form-group">
                                <mat-label> Rua:</mat-label>
                                <input type="text" class="form-control item" id="logradouro" placeholder="Rua"
                                    formControlName="logradouro" />
                            </div>
                            <div class="form-group">
                                <mat-label> Numero:</mat-label>
                                <input type="number" class="form-control item" id="numero" placeholder="Numero"
                                    formControlName="numero" min="1" />
                            </div>
                            <div class="form-group">
                                <mat-label> Complemento:</mat-label>
                                <input type="text" class="form-control item" id="complemento" placeholder="Complemento"
                                    formControlName="complemento" />
                            </div>
                            <div class="form-group">
                                <mat-label> Bairro:</mat-label>
                                <input type="text" class="form-control item" id="bairro" placeholder="Bairro"
                                    formControlName="bairro" />
                            </div>
                            <div class="form-group">
                                <mat-label> CEP:</mat-label>
                                <input type="text" class="form-control item" id="cep" placeholder="CEP"
                                    formControlName="cep" />
                            </div>
                            <div class="form-group">
                                <mat-label> Cidade:</mat-label>
                                <input type="text" class="form-control item" id="cidade" placeholder="Cidade"
                                    formControlName="cidade" />
                            </div>
                            <div class="form-group">
                                <mat-label> UF:</mat-label>
                                <input type="text" class="form-control item" id="uf" placeholder="UF"
                                    formControlName="uf" />
                            </div>
                            <div class="form-group">
                                <button *ngIf="loading == false" class="btn btn-block create-account" type="submit">
                                    Salvar atualizações
                                </button>
                                <mat-spinner class="action col-sm-6 col-md-6 col-lg-6" *ngIf="loading == true">
                                </mat-spinner>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 -->
<!-- 

<div class="modal fade" id="trace-new-user-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo Usuário</h5>
                <button id="close-modal3" mat-button class="close-icon" data-dismiss="modal">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="modal-body right-left-margin">
                <div class="tab-content">
                    <div class="tab-pane fade show active registration-form" id="usuarios">
                        <form [formGroup]="formNewUser" (ngSubmit)="saveNewUser()">
                            <div class="form-icon">
                                <span><i class="icon icon-user"></i></span>
                            </div>
                            <div class="form-group">
                                <mat-label> Nome:</mat-label>
                                <input type="text" class="form-control item" id="nomeUser" placeholder="Nome"
                                    formControlName="nomeUser" />
                            </div>
                            <div class="form-group">
                                <mat-label> Email:</mat-label>
                                <input type="text" class="form-control item" id="username" placeholder="Email"
                                    formControlName="username" />
                            </div>
                            <div class="form-group">
                                <mat-label> Senha:</mat-label>
                                <input type="password" class="form-control item" id="password" placeholder="Senha"
                                    formControlName="password" />
                            </div>
                            <div class="form-group">
                                <mat-label> Identificação:</mat-label>
                                <input type="text" class="form-control item" id="identificacaoUser"
                                    placeholder="Identificação" formControlName="identificacaoUser" />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-block create-account" *ngIf="loading == false" type="submit">
                                    Cadastrar Usuário
                                </button>
                                <mat-spinner class="action col-sm-6 col-md-6 col-lg-6" *ngIf="loading == true">
                                </mat-spinner>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->