<main class="main">
  <section class="section">
    <h1 class="title">SOBRE A IMOBILIARIA NOSSO LAR</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque laborum
      voluptas hic fugiat consectetur deleniti, distinctio eligendi pariatur
      earum minima libero natus sit at architecto dolorem ab similique sunt
      quibusdam.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, illum
      dicta! Iure, quae! Dolore impedit, a, cum possimus saepe placeat velit
      adipisci soluta nemo aliquid explicabo facere vero perspiciatis
      praesentium?
    </p>

    <mat-divider></mat-divider>

    <h2>Missão</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eum
      inventore dolore quos, laboriosam distinctio aliquam. Iste saepe
      distinctio voluptatem qui labore repudiandae harum doloribus esse
      officiis, modi error suscipit!
    </p>
    <h2>Visão</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eum
      inventore dolore quos, laboriosam distinctio aliquam. Iste saepe
      distinctio voluptatem qui labore repudiandae harum doloribus esse
      officiis, modi error suscipit!
    </p>
    <h2>Valores</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eum
      inventore dolore quos, laboriosam distinctio aliquam. Iste saepe
      distinctio voluptatem qui labore repudiandae harum doloribus esse
      officiis, modi error suscipit!
    </p>
  </section>
</main>
