h2 {
    text-align: center;
    width: 90%;
}

.btns {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

p {
    font-size: medium;
    height: 40px;
    margin: 10px 15px 0 10px;
    display: flex;
    align-items: center;
}

.close {
    height: 25px;
    width: 25px;
    padding: 0;
    display: flex;
    align-items: center;
}

mat-icon {
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    flex-direction: row;
}

.opcao {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.opcao button {
    margin: 10px 15px 0 10px;
    height: 40px;
    width: 100px;

}

.opcao p{
    margin-top: 10px;
}

.confirm {
    background-color: rgb(73, 81, 158);
    color: white;
}
.concl {
    background-color: rgb(73, 159, 123);
    color: white;

}
.cancel {
    background-color: rgb(164, 82, 82);
    color: white;

}

