.footer {
  background-color: #99d5c8;
  position: absolute;
  width: 100%;
  margin-top: 50px;
}

.container {
  max-width: 1170px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  width: 33%;
  padding: 0 15px;
}

ul {
  list-style: none;
}

.footer-col h1 {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  text-transform: capitalize;
  margin-left: 35px;
  margin-top: 15px;
  margin-bottom: 35px;
  position: relative;
}

.footer-col h1::before {
  content: "";
  left: 0;
  bottom: -10px;
  position: absolute;
  background-color: #409e8e;
  height: 2px;
  width: 80px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #282727;
  display: inline-block;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 5px;
  transition: all 0.2s ease-out;
}
.footer-col .social-links a {
  display: inline-block;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  height: 30px;
  width: 30px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
  transition: all 0.2s ease-out;
}

.footer-col div {
  margin-left: 35px;
}

footer div a{
  text-decoration: none;
  color: #282727;
}

footer div a:hover{
  color: #ffffff;
  transition: all 0.2s ease-out;
}


@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
