<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h1>Saiba mais</h1>
        <ul>
          <li><a routerLink="/principal/saiba-mais">Sobre Nós</a></li>
          <li>
            <a routerLink="/principal/perguntas-frequentes"
              >Perguntas Frequentes</a
            >
          </li>

          <li><a routerLink="/principal/termos-de-uso">Termos de Uso</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h1>Contatos</h1>
        <ul>
          <li>
            <a href="tel:+9909999999999">Telefone: +99 (99) 9999-9999</a>
          </li>
          <li>
            <a href="mailto:email@email.com?subject=Email para contato"
              >Email: email@email.com</a
            >
          </li>
        </ul>
      </div>

      <div class="footer-col">
        <h1>Siga-nos</h1>
        <div class="social-links">
          <a href="https://www.facebook.com/" target="_blanc">
            <mat-icon>facebook</mat-icon>
          </a>
          <a href="https://www.tiktok.com/pt-BR/" target="_blanc">
            <mat-icon>tiktok</mat-icon>
          </a>
          <a href="https://www.linkedin.com/" target="_blanc">
            <mat-icon>linkedin</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center p-1 shadow-lg">
    © 2022 Copyright:
    <a href="https://soulcodeacademy.org/" target="_blanc"
      >soulcodeacademy.org</a
    >
  </div>
</footer>
