<div class="body">

  <!-- Campo de pesquisa -->
  <div class="box">
    <mat-tab-group mat-stretch-tabs animationDuration="500ms">
      <mat-tab label="Venda">
        <form [formGroup]="formPesquisa">


          <div class="endereco" formGroupName="endereco">
            <div class="bordaCidade">
              <label for="formFile" class="library">
                <mat-icon class="alinhamentoIcones">local_library</mat-icon>Cidade
              </label>
              <div>
                <input type="text" class="cidade" placeholder="Busque por cidade" formControlName="cidade"
                  aria-label="text" aria-describedby="basic-addon1" />
              </div>
            </div>
            <div class="bordaBairro">
              <label for="formFile" class="library">
                <mat-icon class="alinhamentoIcones">home</mat-icon>Bairro
              </label>
              <div>
                <input type="text" class="cidade" placeholder="Busque por bairro" formControlName="bairro"
                  aria-label="text" aria-describedby="basic-addon1" />
              </div>
            </div>
          </div>


          <div class="campoPesquisa input-group mb-3">
            <mat-form-field appearance="fill">
              <mat-label>Finalidade</mat-label>
              <mat-select id="inputGroupSelect01" formControlName="finalidadeImovel">
                <mat-option *ngFor="let finalidade of finalidades" [value]="finalidade.value">
                  {{ finalidade.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Tipo</mat-label>
              <mat-select id="inputGroupSelect01" formControlName="tipoImovel">
                <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
                  {{ tipo.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>



          <div class="BarraPesquisa">
            <mat-form-field appearance="fill">
              <mat-label>Quartos</mat-label>
              <mat-select formControlName="quartos">
                <mat-option *ngFor="let quarto of quartos" [value]="quarto.value">
                  {{ quarto.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Banheiros</mat-label>
              <mat-select formControlName="banheiros">
                <mat-option *ngFor="let banheiro of banheiros" [value]="banheiro.value">
                  {{ banheiro.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Vagas</mat-label>
              <mat-select formControlName="vagas">
                <mat-option *ngFor="let vaga of vagas" [value]="vaga.value">
                  {{ vaga.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Características</mat-label>
              <mat-select formControlName="caracteristicas" multiple>
                <mat-option *ngFor="let caracteristicas of caracteristica" [value]="caracteristicas">{{
                  caracteristicas.caracteristica }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Área mínima (m²)</mat-label>
              <input matInput type="number" formControlName="area">
            </mat-form-field>
          </div>

          <button type="submit" class="botaoProcurar btn p-2" (click)="filtroImoveisVenda()"> Procurar Imóveis
          </button>

        </form>
      </mat-tab>
      <mat-tab label="Aluguel">
        <form [formGroup]="formPesquisa">



          <div class="endereco" formGroupName="endereco">
            <div class="bordaCidade">
              <label for="formFile" class="library">
                <mat-icon class="alinhamentoIcones">local_library</mat-icon>Cidade
              </label>
              <div>
                <input type="text" class="cidade" placeholder="Busque por cidade" formControlName="cidade"
                  aria-label="text" aria-describedby="basic-addon1" />
              </div>
            </div>
            <div class="bordaBairro">
              <label for="formFile" class="library">
                <mat-icon class="alinhamentoIcones">home</mat-icon>Bairro
              </label>
              <div>
                <input type="text" class="cidade" placeholder="Busque por bairro" formControlName="bairro"
                  aria-label="text" aria-describedby="basic-addon1" />
              </div>
            </div>
          </div>
          <div class="campoPesquisa input-group mb-3">
            <mat-form-field appearance="fill">
              <mat-label>Finalidade</mat-label>
              <mat-select id="inputGroupSelect01" formControlName="finalidadeImovel">
                <mat-option *ngFor="let finalidade of finalidades" [value]="finalidade.value">
                  {{ finalidade.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Tipo</mat-label>
              <mat-select id="inputGroupSelect01" formControlName="tipoImovel">
                <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
                  {{ tipo.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>



          <div class="BarraPesquisa">
            <mat-form-field appearance="fill">
              <mat-label>Quartos</mat-label>
              <mat-select>
                <mat-option *ngFor="let quarto of quartos" [value]="quarto.value">
                  {{ quarto.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Banheiros</mat-label>
              <mat-select>
                <mat-option *ngFor="let banheiro of banheiros" [value]="banheiro.value">
                  {{ banheiro.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Vagas</mat-label>
              <mat-select>
                <mat-option *ngFor="let vaga of vagas" [value]="vaga.value">
                  {{ vaga.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Características</mat-label>
              <mat-select formControlName="caracteristicas" multiple>
                <mat-option *ngFor="let caracteristicas of caracteristica" [value]="caracteristicas">{{
                  caracteristicas.caracteristica }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Área mínima (m²)</mat-label>
              <input matInput type="number" formControlName="area">
            </mat-form-field>
          </div>

          <button type="submit" class="botaoProcurar btn p-2" (click)="filtroImoveisAluguel()"> Procurar Imóveis
          </button>

        </form>
      </mat-tab>
    </mat-tab-group>
  </div>

  <mat-spinner color="primary" diameter="40" class="carregarInformacoes input-box" mode="indeterminate"
    *ngIf="salvandoInformacoes"></mat-spinner>

  <p class="buscaVazia" *ngIf="buscaVazia">Não foram encontrados imóveis com essas características.</p>


  <!-- Card de pesquisa -->

  <div class="boxCard" *ngFor="let imov of todosImoveis; let i = index">
    <div id="car_{{imov.idImovel}}" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" [attr.data-bs-target]="'#car_'+ imov.idImovel" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" [attr.data-bs-target]="'#car_'+ imov.idImovel" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" [attr.data-bs-target]="'#car_'+ imov.idImovel" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active"  *ngFor="let foto of fotos[i]; let j = index">
          <img 
            [src]="foto.linkFoto" class="d-block w-100">
         <!--  <img
            src="https://granzottoimoveis.com.br/wp-content/uploads/2021/07/WhatsApp-Image-2021-07-01-at-08.13.17-3-600x600.jpeg"
            class="d-block w-100"> -->
        </div>
        
      </div>
      <div class="controle">
        <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#car_'+ imov.idImovel"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#car_'+ imov.idImovel"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
    <mat-card class="card">
      <mat-card-title *ngIf="imov.contratoAluguel"><span> R$ {{imov.valorAluguel}},00 </span>
        <span class="tag">Aluguel</span>
      </mat-card-title>
      <mat-card-title *ngIf="imov.contratoVenda"><span> R$ {{imov.valorVenda}},00 </span>
        <span class="tag">Venda</span>
      </mat-card-title>
      <mat-card-subtitle class="titulo">{{imov.titulo}}</mat-card-subtitle>
      <mat-card-subtitle class="descricao">{{imov.descricao}}</mat-card-subtitle>
      <mat-card-subtitle>{{imov.endereco!.logradouro!}}, {{imov.endereco!.bairro!}}, {{imov.endereco!.cidade!}} -
        {{imov.endereco!.uf!}}</mat-card-subtitle>
      <mat-grid-list cols="5" rowHeight="5:2">
        <mat-grid-tile *ngIf="imov.area! > 0">
          <p class="dadosImovel2">
            {{imov.area}}m²
            <mat-icon matTooltip="Área">straighten</mat-icon>
            <br />
          </p>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="imov.quartos! > 0">
          <p class="dadosImovel2">
            {{imov.quartos}}
            <mat-icon matTooltip="Quartos">local_hotel</mat-icon>
            <br />
          </p>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="imov.suite! > 0">
          <p class="dadosImovel2">
            {{imov.suite}}
            <mat-icon matTooltip="Suítes">bathtub</mat-icon>
            <br />
          </p>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="imov.banheiros! > 0">
          <p class="dadosImovel2">
            {{imov.banheiros}}
            <span class="material-icons" matTooltip="Banheiros">shower</span>
            <br />
          </p>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="imov.vagas! > 0">
          <p class="dadosImovel2">
            {{imov.vagas}}
            <mat-icon matTooltip="Vagas">directions_car</mat-icon>
            <br />
          </p>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-card-actions class="BotaoAcessar">
        <a href="/imobil/imovel/{{imov.idImovel}}" target="_blank">
          <button mat-raised-button color="warn">Acessar</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>