.box{
    margin-left: 25%;
    width: 1000px;
    height: 200px;
    padding: 40px;
  }
  .form-check{
    margin-left: 7px;
    margin-top: 7px;
  }
  
  
  .botaoArea{
    margin-bottom: 15px;
    border: hidden;
    border-bottom: 1px solid black;
   background-color: 	#f1f1f1;
  }
  
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  
  .botoesAluguelVenda{
    margin-left: 7px;
  }
  .posicaoBotao{
    display: flex;
    align-items: center;
  }
  
  .example-card {
    max-width: 400px;
  }
  
  .boxCard{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .mat-card-header{
    margin-top: 2px;
  }
  .card{
    display: flex;
    justify-content: center;
    text-align: justify;
  }
  .mat-card-subtitle{
    padding-top: 10px;
  }
  .dadosImovel2{
  
    justify-content: center;
    text-align: center;
    /* position: relative; */
    right: 35px;
  }
  
  .material-icons {
    color: #0CA789;
  }
  .preco{
    color: green;
  }
  
  .card{
    width: 500px;
    height: 300px;
  }
  .carousel-inner{
    width: 380px;
    height: 300px;
  }
  
  .informacao{
    display: flex;
    justify-content: flex-end;
    margin-left: 300px;
  }
  
  .BotaoAcessar{
    display: flex;
    justify-content: center;
  
  }