<!-- Campo de pesquisa -->
<div class="box">
<mat-tab-group animationDuration="500ms">
  <mat-tab label="Venda">
    <form [formGroup]="formPesquisa">
      <div class="campoPesquisa input-group mb-3">

        <mat-form-field appearance="fill">
          <mat-label>Finalidade</mat-label>
          <mat-select id="inputGroupSelect01" formControlName="finalidadeImovel">
            <mat-option *ngFor="let finalidade of finalidades" [value]="finalidade.value">
              {{ finalidade.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Tipo</mat-label>
          <mat-select id="inputGroupSelect01" formControlName="tipoImovel">
            <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
              {{ tipo.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="BarraPesquisa">
        <mat-form-field appearance="fill">
          <mat-label>Quartos</mat-label>
          <mat-select formControlName="quartos">
            <mat-option *ngFor="let quarto of quartos" [value]="quarto.value">
              {{ quarto.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Banheiros</mat-label>
          <mat-select formControlName="banheiros">
            <mat-option
              *ngFor="let banheiro of banheiros"
              [value]="banheiro.value"
            >
              {{ banheiro.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Vagas</mat-label>
          <mat-select formControlName="vagas">
            <mat-option *ngFor="let vaga of vagas" [value]="vaga.value" >
              {{ vaga.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Características</mat-label>
          <mat-select formControlName="caracteristicas" multiple>
            <mat-option
                  *ngFor="let caracteristicas of caracteristica"
                  [value]="caracteristicas"
                  >{{ caracteristicas.caracteristica }}</mat-option
                >
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Área mínima (m²)</mat-label>
          <input matInput type="number" formControlName="area">
        </mat-form-field>


      </div>

      <!-- <button type="button" class="botaoProcurar btn p-2" routerLink="/principal/busca-imoveis" [queryParams]="{ buscar: 'aluguel'}">
        Procurar Imóveis
      </button> -->

      <button
            type="submit"
            class="botaoProcurar btn p-2"
            (click)="filtroImoveis()"
          >
            Procurar Imóveis
          </button>

    </form>
  </mat-tab>
  <mat-tab label="Aluguel">
    <form [formGroup]="formPesquisa">
      <div class="campoPesquisa input-group mb-3">

        <mat-form-field appearance="fill">
          <mat-label>Finalidade</mat-label>
          <mat-select id="inputGroupSelect01" formControlName="finalidadeImovel">
            <mat-option *ngFor="let finalidade of finalidades" [value]="finalidade.value">
              {{ finalidade.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Tipo</mat-label>
          <mat-select id="inputGroupSelect01" formControlName="tipoImovel">
            <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
              {{ tipo.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Quartos</mat-label>
          <mat-select>
            <mat-option *ngFor="let quarto of quartos" [value]="quarto.value">
              {{ quarto.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Banheiros</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let banheiro of banheiros"
              [value]="banheiro.value"
            >
              {{ banheiro.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Vagas</mat-label>
          <mat-select>
            <mat-option *ngFor="let vaga of vagas" [value]="vaga.value">
              {{ vaga.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Características</mat-label>
          <mat-select formControlName="caracteristicas" multiple>
            <mat-option
                  *ngFor="let caracteristicas of caracteristica"
                  [value]="caracteristicas"
                  >{{ caracteristicas.caracteristica }}</mat-option
                >
          </mat-select>
        </mat-form-field>

        <button
          class="botaoArea btn btn-outline-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Área (m²)
        </button>
          <div>
            <label class="valor2">Área máxima</label>
          </div>
          <input
            type="number"
            class="Área máxima"
            placeholder="ex 400"
            aria-label="number"
            aria-describedby="basic-addon1"
          />

      </div>

      <!-- <button type="button" class="botaoProcurar btn p-2" routerLink="/principal/busca-imoveis" [queryParams]="{ buscar: 'venda'}">
        Procurar Imóveis
      </button> -->

      <button
            type="submit"
            class="botaoProcurar btn p-2"
            (click)="filtroImoveis()"
          >
            Procurar Imóveis
          </button>

    </form>
  </mat-tab>
</mat-tab-group>
</div>
<!-- Card de pesquisa -->

<mat-spinner
            color="primary"
            diameter="40"
            class="carregarInformacoes input-box"
            mode="indeterminate"
            *ngIf="salvandoInformacoes"
          ></mat-spinner>

  <div class="boxCard" *ngFor="let imov of todosImoveis">
    <div id="PrimeiroCarrosel" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#PrimeiroCarrosel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#PrimeiroCarrosel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#PrimeiroCarrosel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://granzottoimoveis.com.br/wp-content/uploads/2021/07/WhatsApp-Image-2021-07-01-at-08.13.17-3-600x600.jpeg" class="d-block w-100" alt="Foto 1">
        </div>
        <div class="carousel-item">
          <img src="https://espacoatualempreendimentos.com.br/imagem/62_9432b1f745aa802670ba08da1959b0ab.jpeg" class="d-block w-100" alt="Foto 2">
        </div>
        <div class="carousel-item">
          <img src="https://cdn.uso.com.br/39792/2021/12/4f659e71414411ceb3089f043b0aa035.jpg" class="d-block w-100" alt="Foto 3">
        </div>
      </div>
      <div class="controle">
        <button class="carousel-control-prev" type="button" data-bs-target="#PrimeiroCarrosel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#PrimeiroCarrosel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    </div>
  <mat-card class="card">
      <mat-card-title *ngIf="imov.contratoAluguel">{{imov.valorAluguel}}</mat-card-title>
      <mat-card-title *ngIf="imov.contratoVenda">{{imov.valorVenda}}</mat-card-title>
    <mat-card-subtitle>{{imov.titulo}}</mat-card-subtitle>
    <mat-card-subtitle>{{imov.descricao}}</mat-card-subtitle>
    <mat-card-subtitle>{{imov.endereco!.logradouro!}}, {{imov.endereco!.bairro!}}, {{imov.endereco!.cidade!}} - {{imov.endereco!.uf!}}</mat-card-subtitle>
    <mat-grid-list cols="5" rowHeight="5:2">
      <mat-grid-tile>
        <p class="dadosImovel2">
          {{imov.area}} m²
          <mat-icon>straighten</mat-icon>
          <br />
        </p>
      </mat-grid-tile>
      <mat-grid-tile>
        <p class="dadosImovel2">

          {{imov.quartos}}
          <mat-icon>local_hotel</mat-icon>
          <br />
        </p>
      </mat-grid-tile>
      <mat-grid-tile>
        <p class="dadosImovel2">

          {{imov.suite}}
          <mat-icon>bathtub</mat-icon>
          <br />
        </p>
      </mat-grid-tile>
      <mat-grid-tile>
        <p class="dadosImovel2">
          {{imov.banheiros}}
          <span class="material-icons">shower</span>
          <br />
        </p>
      </mat-grid-tile>
      <mat-grid-tile>
        <p class="dadosImovel2">
          {{imov.vagas}}
          <mat-icon>directions_car</mat-icon>
          <br />
        </p>
        </mat-grid-tile>
      </mat-grid-list>
    <mat-card-actions class="BotaoAcessar">
      <button mat-raised-button color="warn" routerLink="/imobil/imovel/{{imov.idImovel}}">Acessar</button>
    </mat-card-actions>
  </mat-card>
  </div>








