.body {
  min-height: 63.5vh;
}

.box{
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    height: 400px;
    padding: 40px;
    margin-bottom: 50px;
  }

  .example-form-field {
    width: 200px;
  }

  .BarraPesquisa{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
  }

  .alinhamentoIcones{
    margin-top: 6px;
    margin-right: 3px;
    margin-left: 2px;
    position: relative;
    top: 4px;
  }

  .bordaCidade{
    margin-top: 0px;
    border: 1px solid black;
    padding-bottom: 5px;
    width: 49.5%;
  }
  .endereco{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .bordaBairro{
    margin-top: 0px;
    border: 1px solid black;
    padding-bottom: 5px;
    width: 49.5%;
  }

  .cidade{
    margin-left: 30px;
    outline: none;
    border: none;
  }

  .botaoArea{
    margin-bottom: 15px;
    border: hidden;
    border-bottom: 1px solid black;
   background-color: 	#f1f1f1;
  }

  .campoPesquisa{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 17px;
  }

  .campoPesquisa mat-form-field{
    width: 50%;
  }

  .BarraPesquisa mat-form-field{
    width: 20%;
  }

  .posicaoBotao{
    display: flex;
    align-items: center;
  }

  .boxCard{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .mat-card-header{
    margin-top: 2px;
  }

  .card{
    display: flex;
    justify-content: center;
    text-align: justify;
    width: 500px;
    height: 300px;
  }

  .card mat-card-title {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    align-items: center;
  }

  .mat-card-subtitle{
    padding-top: 10px;
  }

  .dadosImovel2{
    display: flex;
    justify-content: center;
    align-items: center;
    right: 35px;
  }

  .material-icons {
    color: #0CA789;
  }

  p mat-icon {
    margin-left: 3px;
  }

  .carousel-inner{
    width: 380px;
    height: 300px;
  }

  .BotaoAcessar {
    display: flex;
    justify-content: center;
  }

  .botaoProcurar{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 510px;
    background-color: #0CA789;
    color: white;
    margin-top: 15px;
  }

  mat-spinner{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .titulo{
    font-size: 20px;
    color: black;
  }

  mat-grid-list {
    display: flex;
    flex-direction: row;
    justify-items: center;
  }

  .descricao {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .tag {
    font-size: 18px;
    border: 1px solid #0CA789;
    color: #0CA789;
    padding: 2px 5px;
  }

  .buscaVazia  {
    font-size: medium;
    text-align: center;
  }

  img{
    height: 300px;

  }