<main class="main">
  <section class="section">
    <div class="container">
      <div class="header-termos">
        <h1>Termos de Uso</h1>
      </div>
      <div class="conteudo-lista">
        <h2>Lorem</h2>
        <ol class="conteudo">
          <li>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus,
            sequi modi consequatur distinctio, asperiores voluptate, repellendus
            illo iure ea dignissimos eveniet. Quis inventore aliquam cum
            temporibus fugiat magni iure neque!
          </li>
          <li>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus,
            sequi modi consequatur distinctio, asperiores voluptate, repellendus
            illo iure ea dignissimos eveniet. Quis inventore aliquam cum
            temporibus fugiat magni iure neque!
          </li>
          <li>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus,
            sequi modi consequatur distinctio, asperiores voluptate, repellendus
            illo iure ea dignissimos eveniet. Quis inventore aliquam cum
            temporibus fugiat magni iure neque!
          </li>
        </ol>
      </div>
      <div class="conteudo-lista">
        <h2>Lorem, ipsum.</h2>
        <ol>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
            doloribus adipisci minus architecto, ipsum eaque veniam accusamus
            omnis ex qui odit. Nobis enim corrupti, incidunt officia
            consequuntur ab molestias repellat.
          </li>
        </ol>
      </div>
      <div class="conteudo-lista">
        <h2>Lorem, ipsum dolor.</h2>
        <ol class="conteudo">
          <li>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Voluptates, vel deleniti. Hic sed accusamus architecto magni aperiam
            autem. Eligendi natus et itaque illo delectus quaerat. Iste eius
            quos expedita corporis.
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum nisi
            sunt, corporis esse repellendus saepe. Omnis, maiores dolorem
            architecto ad ducimus consequuntur enim perferendis. Perspiciatis
            nobis distinctio quasi consequuntur sit.
          </li>
        </ol>
      </div>
      <div class="conteudo-lista">
        <h2>Lorem ipsum dolor sit.</h2>
        <ol class="conteudo">
          <li>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Necessitatibus similique assumenda dolores possimus tempora quis,
            impedit exercitationem amet perferendis perspiciatis distinctio
            eligendi, consequuntur itaque provident sit sequi, vel nesciunt
            vero.
          </li>
        </ol>
      </div>
      <div class="conteudo-lista">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <ol class="conteudo">
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
            odit. Officia deleniti facilis totam sunt eligendi recusandae
            voluptatem qui numquam ea? Obcaecati repudiandae sed, aliquam
            voluptas accusantium ullam. Et, vitae.
          </li>
        </ol>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
</main>
