@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

mat-card {
    width: 60vw;
    max-height: 600px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-radius: 5px;
    overflow: auto;
}

mat-card-content {
    display: flex;
    flex-direction: row;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    font-weight: 600;
    color:#0CA789;
    text-align: center;
    padding: 30px;
    border-radius: 5px 5px 0 0 ;
    border: 2px solid #0CA789;
    border-bottom: none;
}

mat-button-toggle-group {
    width: 25%;
    border: 2px solid #0CA789;
    border-right: none;
    margin: 0;
}

.dados {
    width: 75%;
}

table {
    width: 100%;
    max-height: 600px;
    font-family: 'Open Sans', sans-serif;
}

.fixa {
    height: 60px;
    font-weight: bold;
    text-align: center;
}

mat-button-toggle {
    margin: 0;
    height: 90px;
    border-radius: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #99d5c8;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mat-button-toggle p {
    margin: 0;
    padding: 0;
}

.sub{
    font-size: smaller;
}

.mat-button-toggle-checked{
    background-color: #99d5c8;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

tr.example-detail-row {
    height: 0;
}
  
tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}
  
tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}
  
.example-element-row td {
    border-bottom-width: 0;
}

.aviso {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dados {
    min-height: inherit;
    border: 2px solid #282727;
}
