<div class="container-fluid row d-flex justify-content-center text-center m-5">
  
    <h1 class="display-5">Bem-Vindo(a) a Imobiliária Nosso Lar</h1>

    <p class="lead">
      Obrigado por Escolher a Imobiliária Nossa Lar para Vender ou Alugar o seu Imóvel. <br> <br>

      Nossa Equipe está Sempre Pronta para lhe Atender tanto pelo Chat quanto pelo Telefone. <br> <br>

      Nossos Sinceros Agradecimentos. <br> <br>

      <strong>Imobiliária Nosso Lar</strong>  <br> <br>

      Clique no Link Abaixo para Voltar para a <strong>Página de Login</strong>. <br> <br>
           
    </p>

    <div class="display-6"> <h3> <a routerLink="/auth/login"> <strong>Clique Aqui para Fazer o seu LOGIN</strong> </a> </h3> 
    </div>

</div>
