<div class="box">

<p class="titulo">Busque aqui o imóvel do jeitinho que você queria</p>

<form class="row g-3">
    <div class="col-auto p-3">
        <button type="submit" class="botaoLogin btn p-2">Aluguel
        </button>
    </div>
    <div class="col-auto p-3">
        <button type="submit" class="botaoLogin btn p-2">Venda
        </button>
    </div>
    </form>    
    
  <form class="row g-1">
  <div class="input-group p-2">
    <span class="input-group-text">
        <mat-icon>search</mat-icon>
    </span>
    <input type="number" class="col-md-5" placeholder="Código do imóvel" aria-label="number" aria-describedby="basic-addon1">    
    <select id="inputState" class="form-select-mb-3 px-2">
      <option selected>Tipo</option>
      <option>Apartamento</option>
      <option>Casa</option>
    </select>
  </div>
</form>

<form>
    <div></div>
</form>


</div>
