.botaoLogin{
    background-color: #0CA789;
}

.box{
    margin-top: 100px;
    width: 700px;
    height: 450px;
    padding: 40px;
    border: 2px solid black;
    background-color: white;
}

.titulo{
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    
}