.fundo{
  padding-top: 100px;
  padding-bottom: 50px;
  background-image: url("http://www.daniellenoce.com.br/wp-content/uploads/2017/07/9-vistas-incriveis-no-rio-de-janeiro-danielle-noce-9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  height: 78px;
  margin-bottom: 0px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.checkboxAluguelVenda{
  position: relative;
  right: 8px;
}

.alinhamento{
  position: relative;
  top: 2px;
  right: 10px;
}

.alinhamentoIcones{
  margin-top: 6px;
  margin-right: 3px;
  margin-left: 2px;
  position: relative;
  top: 4px;
}

.campoPesquisa{
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 10px;
}
.campoPesquisa mat-form-field{
  width: 50%;
  padding-bottom: 0px 0px 0px;
}

.espacamento{

  margin-left: 12px;
}
.ultimaLinha{
  display: flex;
  justify-content: space-between;
}

.botaoProcurar{
  margin-left: 3px;
  width: 510px;
  background-color: #0CA789;
  color: white;
  margin-top: 15px;
}

.box{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  width: 600px;
  height: 600px;
  padding: 40px;
  border: 2px solid black;
  background-color: white;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}


.titulo{
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}

.semBorda{
  border: none;
}
.semBorda2{
  margin-left: 17px;
  border: none;
}

.cidade{
  margin-left: 30px;
  outline: none;
  border: none;
}
.valor2{
  margin-left: 32px;
}

.valor{
  margin-left: 3px;
  outline: none;
  border: none;
}
.quarto{
  margin-bottom: 5px;
}

.bordaCidade{
  margin-top: 0px;
  border: 1px solid black;
  padding-bottom: 5px;
}
.bordaBairro{
  margin-top: 10px;
  border: 1px solid black;
  padding-bottom: 5px;
}

.library{
  margin-left: 3px;
}

.bordaCodigo{
  border: 1px solid black;
  width: 300px;
}

.bordaPreco{
  margin-top: 10px;
  border: 1px solid black;
  width: 260px;
}

.tipo{
  border: 1px solid black;
  height: 25px;
}

.content{
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}


.lançamentos{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10%;
  font-size: 25px;
  color: black;
  font-weight: bold;
}
.lançamentos2{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10%;
  font-size: 25px;
  color: black;
}
.lançamentos2 a{
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  margin-right: 65px;
}
.lançamentos2 a span{
  font-size: 24px;
  text-decoration: underline;
}
.destaquesCarrossel{
  font-weight: bold;
}
.lançamentos2 a mat-icon{
  margin-bottom: 0px;
  font-size: 24px;
}
.lançamentos2 a:hover{
  font-weight: bold;
  margin-right: 65px;
}

.conjunto{
  /* margin-top: 20px; */
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

a{
  text-decoration: none;
  color: black;
}

.text-muted{
  font-size: 20px;
  font-weight: bold;
}

.descricao {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.desc {
  background-color: rgba(0, 0, 0, 0.5);
}
