<!-- BARRA DE PESQUISA -->

<div class="fundo">
  <div class="box">
    <p class="titulo">Busque aqui o imóvel do jeitinho que você quer</p>

    <form class="row g-3" [formGroup]="formPesquisa">
      <mat-tab-group mat-stretch-tabs animationDuration="500ms">
        <mat-tab label="Aluguel">
          <div class="container">
            <div class="campoPesquisa input-group mb-3">
              <mat-form-field appearance="fill">
                <mat-label>Finalidade</mat-label>
                <mat-select formControlName="finalidadeImovel">
                  <mat-option
                    *ngFor="let finalidade of finalidades"
                    [value]="finalidade.value"
                  >
                    {{ finalidade.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Tipo</mat-label>
                <mat-select formControlName="tipoImovel">
                  <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
                    {{ tipo.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div formGroupName="endereco">
            <div class="bordaCidade">
              <label for="formFile" class="library"
                ><mat-icon class="alinhamentoIcones">local_library</mat-icon
                >Cidade</label
              >
              <div>
                <input
                  type="text"
                  class="cidade"
                  placeholder="Busque por cidade"
                  formControlName="cidade"
                  aria-label="text"
                  aria-describedby="basic-addon1"
                />
              </div>
            </div>
            <div class="bordaBairro">
              <label for="formFile" class="library"
                ><mat-icon class="alinhamentoIcones">home</mat-icon
                >Bairro</label
              >
              <div>
                <input
                  type="text"
                  class="cidade"
                  placeholder="Busque por bairro"
                  formControlName="bairro"
                  aria-label="text"
                  aria-describedby="basic-addon1"
                />
              </div>
            </div>
          </div>

          <div class="ultimaLinha">
            <div class="bordaPreco">
              <label for="formFile" class="library"
                ><mat-icon class="alinhamentoIcones">monetization_on</mat-icon
                >Valor do aluguel até</label
              >

              <div>
                <label class="valor2">R$</label>
                <input
                  type="number"
                  class="valor quarto"
                  formControlName="valorAluguel"
                  placeholder="0,00"
                  aria-label="number"
                  aria-describedby="basic-addon1"
                />
              </div>
            </div>
            <div class="espacamento bordaPreco">
              <label for="formFile" class="library"
                ><mat-icon class="alinhamentoIcones">local_hotel</mat-icon>
                Quartos</label
              >
              <div>
                <select
                  id="inputState"
                  class="cidade quarto"
                  formControlName="quartos"
                >
                  <option selected>Nº de quartos</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                </select>
              </div>
            </div>
          </div>

          <button
            type="submit"
            class="botaoProcurar btn p-2"
            (click)="filtroImoveis()"
          >
            Procurar Imóveis
          </button>

        </mat-tab>
        <mat-tab label="Venda">
          <div class="container">
            <div class="campoPesquisa input-group mb-3">
              <mat-form-field appearance="fill">
                <mat-label>Finalidade</mat-label>
                <mat-select formControlName="finalidadeImovel">
                  <mat-option
                    *ngFor="let finalidade of finalidades"
                    [value]="finalidade.value"
                  >
                    {{ finalidade.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Tipo</mat-label>
                <mat-select
                  id="inputGroupSelect01"
                  formControlName="tipoImovel"
                >
                  <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
                    {{ tipo.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="bordaCidade">
            <label for="formFile" class="library"
              ><mat-icon class="alinhamentoIcones">local_library</mat-icon
              >Cidade</label
            >
            <div>
              <input
                type="text"
                class="cidade"
                placeholder="Busque por cidade"
                aria-label="text"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
          <div class="bordaBairro">
            <label for="formFile" class="library"
              ><mat-icon class="alinhamentoIcones">home</mat-icon>Bairro</label
            >
            <div>
              <input
                type="text"
                class="cidade"
                placeholder="Busque por bairro"
                aria-label="text"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>

          <div class="ultimaLinha">
            <div class="bordaPreco">
              <label for="formFile" class="library"
                ><mat-icon class="alinhamentoIcones">monetization_on</mat-icon
                >Valor de venda até</label
              >

              <div>
                <label class="valor2">R$</label>
                <input
                  type="number"
                  class="valor quarto"
                  formControlName="valorVenda"
                  placeholder="0,00"
                  aria-label="number"
                  aria-describedby="basic-addon1"
                />
              </div>
            </div>
            <div class="espacamento bordaPreco">
              <label for="formFile" class="library"
                ><mat-icon class="alinhamentoIcones">local_hotel</mat-icon>
                Quartos</label
              >
              <div>
                <select
                  id="inputState"
                  class="cidade quarto"
                  formControlName="quartos"
                >
                  <option selected>Nº de quartos</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                </select>
              </div>
            </div>
          </div>

          <button
            type="submit"
            class="botaoProcurar btn p-2"
            (click)="filtroImoveis()"
          >
            Procurar Imóveis
          </button>

        </mat-tab>
      </mat-tab-group>
    </form>
  </div>
</div>

<!-- CARROSSEL -->

<p class="lançamentos2">
  <span class="destaquesCarrossel">Destaques</span>
  <a routerLink="/principal/busca-imoveis"
  [queryParams]="{ buscar: 'todos' }">
    <span>Ver todos os imóveis</span> <mat-icon>arrow_forward</mat-icon>
  </a>

</p>
<div class="carrossel content" *ngIf="carregado">
  <div
    id="carouselExampleDark"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>

    <div class="carousel-inner">
      <a routerLink="/imobil/imovel/{{ imovelCar1!.idImovel }}">
        <div
          class="carousel-item active"
          data-bs-interval="10000"
        >
          <img
            [src]="fotoCar1.linkFoto"
            class="fotosCar d-block w-100"
            alt="..."
          />
          <div class="desc carousel-caption d-none d-md-block text-white">
            <h2>{{ imovelCar1!.titulo }}</h2>
            <p class="descricao">
              {{ imovelCar1!.descricao }}
            </p>
          </div>
        </div>
      </a>
      <a routerLink="/imobil/imovel/{{ imovelCar2!.idImovel }}">
        <div class="carousel-item" data-bs-interval="2000" >
          <img
          [src]="fotoCar2.linkFoto"
          class="fotosCar d-block w-100"
            alt="..."
          />
          <div class="desc carousel-caption d-none d-md-block text-white">
            <h2>{{ imovelCar2!.titulo }}</h2>
            <p class="descricao">
              {{ imovelCar2!.descricao }}
            </p>
          </div>
        </div>
      </a>
      <a routerLink="/imobil/imovel/{{ imovelCar3!.idImovel }}">
        <div class="carousel-item" >
          <img
          [src]="fotoCar3.linkFoto"
            class="fotosCar d-block w-100"
            alt="..."
          />
          <div class="desc carousel-caption d-none d-md-block text-white">
            <h2>{{ imovelCar3!.titulo }}</h2>
            <p class="descricao">
              {{ imovelCar3!.descricao }}
            </p>
          </div>
        </div>
      </a>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- CARD DE VENDA -->

<p class="lançamentos">Últimos adicionados para alugar</p>

<div class="conjunto row row-cols-1 row-cols-md-3 g-4" >
  <div class="col" *ngFor="let imovel of imoveiscard1; let i = index">
    <a routerLink="/imobil/imovel/{{ imovel.idImovel }}">
      <div class="card h-100">
        <img
          [src]="fotosCards1[i]"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ imovel.titulo }}</h5>
          <p class="card-text">
            {{ imovel.endereco?.logradouro }}, {{ imovel.endereco?.bairro }},
            {{ imovel.endereco?.cidade }} - {{ imovel.endereco?.uf }}
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">R${{ imovel.valorAluguel }},00</small>
        </div>
      </div>
    </a>
  </div>
</div>

<p class="lançamentos">Últimos adicionados para comprar</p>

<div class="conjunto row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let imovel of imoveiscard2; let i = index">
    <a routerLink="/imobil/imovel/{{ imovel.idImovel }}">
      <div class="card h-100">
        <img
          [src]="fotosCards2[i]"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ imovel.titulo }}</h5>
          <p class="card-text">
            {{ imovel.endereco?.logradouro }}, {{ imovel.endereco?.bairro }},
            {{ imovel.endereco?.cidade }} - {{ imovel.endereco?.uf }}
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">R${{ imovel.valorVenda }},00</small>
        </div>
      </div>
    </a>
  </div>
</div>
