<app-navi>
  <app-cards></app-cards>
<div class="container ">


<section class="gridfl">
  <div class="margindiv col-sm-12 col-md-6 col-lg-6">
    <canvas id="barChartConsu" style="display: block;"></canvas>
  </div>

  <div class="margindiv col-sm-12 col-md-6 col-lg-6">
    <canvas id="barChartVend" style="display: block;"></canvas>
  </div>

</section>
  <hr>

  <section class="gridfl">
    <div class="margindiv col-sm-12 col-md-6 col-lg-6">
      <canvas id="barChartImo" style="display: block;"></canvas>
    </div>

    <div class=" margindiv col-sm-12 col-md-6 col-lg-6">
      <canvas id="barChartVis" style="display: block;"></canvas>
    </div>
  </section>


</div>
</app-navi>

