<div class="uppercards">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">Consumidores Registrados</h3>

      <p class="card-text">1000</p>

    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">Vendedores Registrados</h3>

      <p class="card-text">1000</p>

    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">Imóveis Registrados</h3>

      <p class="card-text">1000</p>

    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">Visitas Agendadas</h3>

      <p class="card-text">1000</p>

    </div>
  </div>



</div>
