.uppercards{
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  justify-content: center;
  justify-content: space-between;
}
.card{
  background-color: #012169;
  color: white;
}
