@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
  
.title1{
  font-size: 25px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  color:#0CA789;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

mat-card {
  width: 60vw;
  max-height: 620px;
  margin-bottom: 200px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border-radius: 5px;
  overflow: auto;
  border: 2px solid #0CA789;
}

.dados {
    height: fit-content;
    top: 16px;
    left: 0;
  }

 .endereco{
        height: fit-content;
        max-height: 620px;
        top: 16px;
        left: 0;
  }

  form {
    display: flex;
    flex-direction: column;
  }

.container{
  background: #fff;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  flex-direction: row;
  justify-content: center;
  display: flex;  
}
.box {
  width: 400px;
  background: #fff;
}
.container form .title{
  font-size:20px;
  font-weight: 600;
  margin-bottom: 30px;
  position: relative;
  color:#0CA789

}
.container form .input-box{
  width: 100%;
  height: 40px;
  margin-top: 20px;
  position: relative;
}
.container form .underline::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #0CA789;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}

.container form .input-box input:focus ~ .underline::after,
.container form .input-box input:valid ~ .underline::after{
  transform: scaleX(1);
  transform-origin: left;
}

.container form .input-box input:hover{
  background: linear-gradient( to left,  #41eecb 0%, #2e9681 100%);
}
.line{
  position: relative;
  height: 1px;
  width: 100%;
  margin: 26px 0;
  background-color: #d4d4d4;
}
.line::before{
  content: 'Ou';
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  color: #8b8b8b;
  padding: 0 15px;
}
.container form .input-box input{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 15px;
  border: none;
}
.container form .underline::before{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background:#0CA789;
  left: 0;
  bottom: 0;
}
.container form .underline::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #0CA789;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}

.container form .input-box input:focus ~ .underline::after,
.container form .input-box input:valid ~ .underline::after{
  transform: scaleX(1);
  transform-origin: left;
}

.container .option{
  font-size: 14px;
  text-align: center;
}

.btn{
    background: #0CA789;
    color: white;
    width: 70%;
    border-radius: 0%;
    height: 60px;
    border: 1px solid white;  
}
.container .input-box button{
  background: #0CA789;
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  height: 35px;
  border: #0CA789;
}

.text{
  text-align: center;
  margin-top: 10px;
}

.btnAtualizar{
  background:#0CA789;
  color: white;
}


