<nav class="fundoNavbar navbar navbar-expand-lg p-3">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">Blablabla Imobiliaria</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light me-4 " aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link text-light" href="#">Alugar</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link text-light" href="#">Comprar</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link text-light" href="#">Sobre</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link text-light" href="#">Ajuda</a>
          </li>        

        </ul>
        
        <div class="nav-item me-4">
          <button type="submit" class="botaoLogin btn p-2">Anuncie
          </button>
        </div>
        <div class="nav-item me-4">
          <button type="submit" class="botaoLogin btn px-3 py-2">Login
          </button>
        </div>
      
      
        
      </div>
    </div>
  </nav>